<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger level="DEBUG" name="com.location"/>
    <logger level="DEBUG" name="org.springframework.web.filter"/>
    <logger level="DEBUG" name="org.springframework.web.client.RestTemplate"/>

    <logger level="DEBUG" name="org.hibernate.SQL"/>
    <logger level="DEBUG" name="com.zaxxer.hikari"/>
    <logger level="DEBUG" name="com.zaxxer.hikari"/>

</configuration>
